<div class="main">
  <div class="upper-main">
    <div class="name">
      <p class="name-label">name</p>
      <%= @user.name %>
    </div>
    <div class="free-time-wrapper">
      <p>free-time<p>
      <div class="free-time", id="free-time"> 
        <%= @user.free_time.strftime("%H:%M") %>
      </div>
    </div>
    <div class="count-down">
      <p>countdown</p>
      <div class="count-down-icon">
        <i class="far fa-clock", id="remaining-date"></i>   
        <i class="fas fa-user-clock", id="remaining-free-time"></i>
        <i class="far fa-stop-circle", id="stop-time"></i>
      </div>
    </div>
  </div>

  <ul class="targets"><h3>ターゲット</h3>
    <% @targets.each do |target| %>
      <% unless target.achieve %>
        <li class="target">
          <div class="upper-target">
          <q>Date&nbsp;</q>
            <div class="taget-date" ,id="targetDate"><%= target.target_date %></div>
            <div class="remaining-time", id='remaining-time'></div>
          </div>
          <div class="middle-target">
            <div class="target-content">
              <%= target.content %>
            </div>
          </div>
          <div class="lower-target">
            <div id="fight-<%= target.id%>">
              <%= render 'fights/fight', target: target %>
            </div>
            <% if user_signed_in? && current_user.id == @user.id %>
              <div class="target-achieve">
                <% unless target.already_achieved?(target) %>
                  <%= link_to target_achieves_path(target), method: :post, class: "achieve" do %>
                    <q>GET </q><i class="far fa-square"></i>
                  <% end %>
                <% end %>
              </div>
              <div class="target-edit">
                <%= link_to edit_target_path(target.id), class: "edit" do %>
                  <i class="far fa-edit"></i>
                <% end %>
              </div>
              <div class="target-delete">
                <%= link_to target_path(target.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "edit" do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        </li>  
      <% end %>
    <% end %>    
  </ul>

  <ul class="achieves"><h3>ステータス</h3>
    <% @targets.each do |target| %>
      <% if target.achieve %>
        <li class="target" target-id=<%= target.id %>>
          <div class="upper-target">
          <q>Date&nbsp;</q>
            <div class="skill-date" ,id="skillDate"><%= target.target_date %></div>
          </div>
          <div class="middle-target">
            <div class="target-content">
              <%= target.content %>
            </div>
          </div>
          <div class="lower-target">
            <div id="fight-<%= target.id%>">
              <%= render 'fights/fight', target: target %>
            </div>
            <% if user_signed_in? && current_user.id == @user.id %>
              <div class="target-achieve">
                <% if target.already_achieved?(target) %>
                  <%= link_to  target_achiefe_path(target, target), method: :delete, class: "achieve" do %>
                    <q>GET </q><i class="fas fa-check-square"></i>
                  <% end %>
                <% end %>
              </div>
              <div class="target-edit">
                <%= link_to edit_target_path(target.id), class: "edit" do %>
                  <i class="far fa-edit"></i>
                <% end %>
              </div>
              <div class="target-delete">
                <%= link_to target_path(target.id), data: {confirm: "本当に削除しますか？"}, method: :delete, class: "edit" do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        </li>  
      <% end %>    
    <% end %>    
  </ul>
                
</div>
