<div class="main">
  <%= @user.nickname %> １日の自由時間 
  <%= @user.free_time.strftime("%H:%M") %>

  <ul class="targets">
  <% i = 0 %>
    <% @targets.each do |target| %>
      <%= i += 1 %>
      <li class="target" target-id=<%= target.id %>>
      <div class="upper-target">
      達成予定日
      <div class="taget-date" ,id="targetDate"><%= target.target_date %>
      </div>

      <div class="upper-time">
      残り日時
      <div class="remaining-time", id='remaining-time'></div>
            
          </div>
        </div>
        <div class="lower-target">
          <div class="target-content">
            <%= target.content %>
          </div>
        </div>
        <div class="side-target">
          <div class="target-fight">ガンバ！</div>
          <div class="target-achieve">achieve</div>
          <% if user_signed_in? && current_user.id == @user.id %>
            <div class="target-edit">
              <%= link_to "edit", edit_target_path(target.id), class: "edit" %>
            </div>
            <div class="target-delete">
              <%= link_to "delete", target_path(target.id), method: :delete, class: "edit" %>
            </div>
          <% end %>
        </div>
      </li>  
    <% end %>    
  </ul>
</div>